
@font-face {
   font-family: oswald;
   src: url(font-family/oswald.ttf);
}
@font-face{
	font-family: PhilosopherBold;
	src:url(../font-family/Philosopher-Bold.ttf);
}
@font-face{
	font-family: PhilosopherRegular;
	src:url(../font-family/Philosopher-Regular.ttf);
}
@font-face{
	font-family: PoppinsMedium;
	src:url(../font-family/Poppins-Medium.otf);
}
@font-face{
	font-family: PoppinsBold;
	src:url(../font-family/Poppins-Bold.otf);
}
@font-face{
	font-family: PoppinsSemiBold;
	src:url(../font-family/Poppins-SemiBold.otf);
}
@font-face{
	font-family: PoppinsLight;
	src:url(../font-family/Poppins-Light.otf);
}
@font-face{
	font-family: PoppinsRegular;
	src:url(../font-family/Poppins-Regular.otf);
}
.remembering-header{
	color: #fff;
	font-family: PhilosopherRegular;
	font-size: 52px;
	line-height: 1.2;
	margin-bottom: 25px;
	margin-top: 30px;
}
.quotes-sub-header p{
	color: #4b1441;
	font-family: PhilosopherRegular;
	font-size: 30px;
	margin-bottom: 14px;
}

.lgx-banner{
    background: url(../img/images/banner.jpg) top center no-repeat;
}
.lgx-banner-info-custom{
	padding-left: 5rem;
    padding-right: 10rem;
}
.lgx-inner-fixed-custom{
	padding: 20rem 0 10rem !important;
}
.lgx-banner-info-circle .info-circle-inner{
	    background: url(../img/images/circle.png) center center no-repeat;
}
.lgx-banner-info-circle .info-circle-inner .date{
	color: #fff;
}
.lgx-banner-info-circle .info-circle-inner .date span{
	opacity: 1
}
.lgx-about-image{
	background: url(../img/images/banner-white.jpg) center center no-repeat;
	-webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.lgx-about-img-sp-custom{
	padding: 0;
}
.lgx-about-content-area .lgx-heading .heading-event{
	    font-family: PhilosopherRegular;
    	color: #9e1f63;
    	margin-bottom: 30px;
}
.lgx-about-content-area .lgx-heading .subheading-event{
	font-family: PoppinsSemiBold;
	color: #9e1f63;
	font-size: 26px;
}
.lgx-about-content p.text-modified{
	font-family: PoppinsRegular;
	color: #1b273d;
	width: 60%;
	font-size: 18px;
}
.about-date-area p.event-date{
	    margin-top: 0.6rem;
}
.about-date-area p.event-date span.date-modify{
	    line-height: 1.2;
	    font-size: 24px;
	        font-family: PoppinsSemiBold;
    		color: #9e1f63;
	}
	.about-date-area p.event-date span.description{
		font-family: PoppinsRegular;
		color: #1b273d;
		font-size: 18px;
		text-transform: unset;
		line-height: 1.4;
		font-weight: unset;
	}
	.lgx-about-content-area .lgx-heading{
		margin-bottom: 0.5rem;
	}
	.font-wight-blod{
		font-weight: 600;
	}
	.about-date-area-custom{
		 margin-top: 4rem;
	    display: flex;
	    margin-bottom: 4rem;
	}
	.historic-attempt .lgx-about-img-sp-custom{
		    padding: 0;
   			 border-radius: 0;
	}
	.historic-attempt .lgx-about-img-sp-custom img{
			padding: 0;
   			 border-radius: 0;	
	}
	.historic-attempt{
		background: url(../img/images/banner2.jpg) center center no-repeat;
	-webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	}
	.padding-left-zero{
		padding-left: 0
	}
	.historic-attempt-right-block{
		    padding: 7rem 3rem 6rem 3rem;
	}

	.historic-attempt-never{
		    font-family: PhilosopherBold;
    color: #9e1f63;
    margin-bottom: 30px;
    font-size: 3.5rem;
    line-height: 1.2;
	}
	.world-record-attempt{
		    font-family: PoppinsRegular;
		    color: #1b273d;
		    font-size: 18px;
	}
	.date-modification-dec{
		    border-color: #be9988 !important;
		    color: #482319 !important;
	}
	.about-date-area p.event-date-custom{
		margin-top: 2rem;
	}
	.about-date-area p.event-date-custom span.date-modify{
		font-size: 30px;		
	}
	.section-btn-area-custom{
		text-align: left;
	}
	.section-btn-area-custom .lgx-btn{
		padding: 1.5rem 1.5rem;
	}
	.historic-attempt-right-block .about-date-area-custom{
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
	.lgx-inner-slider{
		    background: url(../img/images/banner3.jpg) bottom center no-repeat !important;
    -webkit-background-size: 100% auto,cover;
    -o-background-size: 100% auto,cover;
    -moz-background-size: 100% auto,cover;
    background-size: 100% auto,cover;
	}
.heading-event-schedule{
	color: #9f3963 !important;
    font-family: PhilosopherBold !important;
    font-size: 4rem !important;
}
blockquote.lgx-testi-single:before{
	background: transparent;	
}
.lgx-heading-custom{
	margin-bottom: 0
}

.event-main-hrader{
	 font-family: PhilosopherBold;
	 font-size: 6rem;
	 color: #000;
}
p.date-mentioned-class{
	    color: #000;
	    font-family: PhilosopherRegular !important;
	    font-size: 5.5rem !important;
	    margin-top: 3rem;
	    margin-bottom: 6rem;
}
p.the-day-of-purity{
	    color: #9f3963;
	    font-size: 5.6rem !important;
	    font-weight: 600 !important;
	    margin-bottom: 3rem;
}
blockquote.lgx-testi-single p.statement{
	text-transform: uppercase;
	font-size: 2.5rem;
	color: #9f3963;
	line-height: 1.2;
}
.lgx-inner-event-bg{
	  background: url(../img/images/banner4.jpg) center center no-repeat;
	  -webkit-background-size: 100% auto,cover;
	  -o-background-size: 100% auto,cover;
	  -moz-background-size: 100% auto,cover;
	  background-size: cover;
}
.lgx-heading .heading-Event-Information{
	color: #fff;
	font-family: PhilosopherBold;
	font-size: 4rem;
}	
.lgx-travelinfo .event-schedule-padding{
	padding: 2rem 12%;
}
.lgx-travelinfo .event-timing-image,
.lgx-travelinfo .event-schedule-image{
	width: 100px;
	margin: auto;
}
.lgx-travelinfo .venue-image{
	width: 68px;
	margin: auto;
}
.event-schedule-padding p{
	color: #fff;
	font-size: 2REM
}
.event-schedule-padding h3{
	color: #fff;
	margin-bottom: 0.3rem;
}
.section-btn-area-custom-event .lgx-btn{
	padding: 1.5rem 1.5rem;
	background: #f4e7ca;
	color: #333333;
}
.lgx-inner-participent{
 background: url(../img/images/banner5.jpg) center center no-repeat !important;
 -webkit-background-size: 100% auto,cover;
 -o-background-size: 100% auto,cover;
 -moz-background-size: 100% auto,cover;
 background-size: cover;
 padding: 17rem 0;
}
.lgx-sponsors{
	    background: url(../img/images/banner6.jpg) bottom center no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.lgx-sponsors .lgx-inner{
	background: transparent;
}
.participants-items{
	background: url(../img/images/participants.png) center center no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: contain;
	min-height: 240px;
	margin-top: 50px;
}
.official-spons-btm{
	    margin-bottom: 5rem !important;
}
.lgx-subscribe-form .form-control-custom{
	    background: #cdcccb;
}
.lgx-subscribe-form .form-control-custom:focus{
	background: #cdcccb;	
}
.lgx-subscribe-form .form-control-custom::placeholder{
	    color: #9f3963;
}
.lgx-subscribe-form .form-group-submit-custom .lgx-btn{
	background: #9f3963;
}
.lgx-footer-area-custom h3.footer-title{
	    color: #9f3963;

}
.lgx-footer-bottom p,
.lgx-footer-area-custom .lgx-footer-bottom p,
.lgx-footer-area-custom .lgx-footer-single .text,
.lgx-footer-area-custom .lgx-footer-single address,
.lgx-footer-area-custom .lgx-footer-single .map-link,
.lgx-footer-area-custom .lgx-footer-single .date,
.lgx-footer-area-custom .lgx-footer-single .map-link{
	color: #9f3963;
}
.lgx-footer .footer-bg-image{
	    background: url(../img/images/banner5.jpg) center center no-repeat !important;
    -webkit-background-size: 100% auto,cover;
    -o-background-size: 100% auto,cover;
    -moz-background-size: 100% auto,cover;
    background-size: cover;
}
.lgx-social-footer .footer-bg{
	background: #cdc9e9;
}
.lgx-scroll-image-right{
	    width: 100%;
    display: inline-block;
}
.lgx-scroll-home-logo{
	width: 170px;
    display: inline-block;
}
.lgx-nav-full{
	width: 100%;
	padding-left: 3rem;
}
.lgx-about-content .lgx-scroll-about-event{
	    padding: 1.5rem;
    margin-left: 1rem;
}
.lgx-header-position-white .lgx-navbar .lgx-nav-full li a{
	opacity: 1;
}
.lgx-nav-right-custom{
	    margin-top: 9px !important;
	    margin-left: 2rem;
	    display: flex;
	    margin-bottom: 9px;
}
.lgx-header .lgx-navbar .lgx-logo{
	margin-top: 0.8rem;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: transparent;
}
.lgx-heading-Event-Information{
	    margin-bottom: 3.8rem;
}
.lgx-footer-area-custom{
	    padding: 4.8rem 0 0;
}
@media screen and (min-width: 768px){
	.lgx-nav-full {
    width: 100%;
    float: none;
    text-align: center;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
}
.lgx-header .lgx-navbar .lgx-nav li a{
	    padding: 34px 11px 29px 11px;
}
.event-schedule-image-width-pad{
	padding: 0 5rem;
}
}
@media screen and (max-width: 767px){
.lgx-banner-info-custom{
	    padding-right: 5rem;
}
.remembering-header{
	    font-size: 30px;
}
.quotes-sub-header p{
	    font-size: 16px;
}
.lgx-about-content p.text-modified{
	width: 100%;
}
.lgx-schedule-mobile{
	background: transparent;
}
.event-main-hrader{
	font-size: 3rem;
}
p.date-mentioned-class{
	font-size: 2.5rem !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
p.the-day-of-purity {
    color: #9f3963;
    font-size: 2.6rem !important;
    font-weight: 600 !important;
    margin-bottom: 1rem;
}
blockquote.lgx-testi-single p.statement {
    text-transform: uppercase;
    font-size: 1rem;
    color: #9f3963;
    line-height: 1.2;
}
.lgx-inner-event-bg{
	background-size: cover;
}
}